<div>
    <button (click)="onSelectUser()">
        <!-- src and alt are a property of the html element img -->
         <!-- so it is called property binding -->

        <!-- without signal  -->
        <!-- <img [src] ="imagePath" [alt]="selectedUser.name"/> -->

        <!-- without signal  -->
         <!-- with name as property of the class -->
        <img [src] ="imagePath" [alt]="user.name"/>

        <!-- with signal -->
        <!-- <img [src] ="imagePath()" [alt]="selectedUser().name"/> -->

        <!-- <span> doesn't apply any visual formatting or semantic meaning. It simply groups content.
        Inline Nature: Unlike block-level elements (e.g., <div>), <span> does not start on a new line, so it flows with the surrounding text.
         It is often used with CSS to style a specific part of the content, you might use <span> to change the color, font, or behavior of a section of text. -->
        
        <!-- without signal -->
        <span>{{user.name}}  </span>

        <!-- with signal -->
        <!-- <span>{{ selectedUser().name }}  </span> -->


    </button>
</div>
 